<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1 id="title">Email Classifier</h1>

        <div class="lang-buttons">
            <button id="frBtn" onclick="switchLanguage('fr')">
                <img src="{{ url_for('static', filename='img/fr_flag.png') }}" alt="Français" width="20" height="15"> 
            </button>
            <button id="enBtn" onclick="switchLanguage('en')">
                <img src="{{ url_for('static', filename='img/eng_flag.png') }}" alt="English" width="20" height="15"> 
            </button>
        </div>
        <br>

        <form method="POST">
            <label for="email_message" id="emailMessageLabel">Enter Email Message:</label>
            <textarea name="email_message" rows="4" cols="50" id="emailMessage" oninput="updateCharCount()"></textarea><br>
            <span id="charCount">0</span> / 5000 characters
            <br>
            <button type="submit" class="classify-btn" id="classify-btn">Classify</button>
        </form>

        <div id="result" class="result" {% if prediction %} style="display:block;" {% else %} style="display:none;" {% endif %}>
            <h2 id="prediction">Prediction : {{ prediction }}</h2>
            <i id="reminder">This result could not be accurate, be careful</i>
        </div>

        <div id="error" class="error" style="display:none;">
            <h2 id="errorMessage">{{ error }}</h2>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
